@page "/"

<PageTitle>Index</PageTitle>

<h1 class="display-4">Request-Counter-Middleware Testweb</h1>

<h2 class="display-6">Current Requests</h2>

<div class="alert alert-info">
    Requests since @AspNetCore.RequestCounter.RequestCounter.RequestCountStartDate.ToLocalTime()
</div>

<div class="row">
    <div class="col">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Duration [ms]</th>
                    <th>Mobile Quota</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var countItem in AspNetCore.RequestCounter.RequestCounter.RequestSummaryByPath)
                {

                    <tr>
                        <td>@countItem.Path</td>
                        <td>@countItem.Counter</td>
                        <td>@countItem.MobileQuota [%]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Duration [ms]</th>
                    <td>Ip</td>
                    <td>IsMobile</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var countItem in AspNetCore.RequestCounter.RequestCounter.RequestCountItems)
                {

                    <tr>
                        <td>@countItem.Path</td>
                        <td>@countItem.Duration.TotalMilliseconds</td>
                        <td>@countItem.Ip</td>
                        <td>@countItem.IsMobile</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
